<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hk.edu.ouhk.arprimary">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.ar"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".PrimaryARApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Primary AR"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ARPrimary">
        <activity
            android:name=".QuizActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_quiz"
            android:theme="@style/Theme.ARPrimary.Fullscreen" />
        <activity
            android:name=".TextToSpeechActivity"
            android:exported="false" />
        <activity
            android:name=".SpeechToTextActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />

        <activity
            android:name=".LessonActivity"
            android:exported="false" />
        <activity android:name=".SignUpActivity" />
        <activity
            android:name=".leaderboard"
            android:exported="false" />
        <activity
            android:name=".AboutActivity"
            android:label="About"
            android:theme="@style/Theme.ARPrimary.NoActionBar" />
        <activity
            android:name=".TopicActivity"
            android:label="Topic"
            android:theme="@style/Theme.ARPrimary.NoActionBar" />
        <activity
            android:name=".UnitActivity"
            android:label="Unit"
            android:theme="@style/Theme.ARPrimary.NoActionBar" />
        <activity
            android:name=".UserProfile"
            android:label="Profile" />
        <activity android:name=".HomeActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.ARPrimary.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>